.contact_sec
    margin: 0
    padding: 55px 0 105px
    @media (max-width:1779px)
        padding: 40px 0 80px
    @media (max-width:1551px)
        padding: 30px 0 65px
    @media (max-width:1199px)
        padding: 20px 0 50px
    @media (max-width:767px)
        padding: 10px 0 40px
    .lft-dtl
        margin: 0
        padding: 0 15px 0 0
        @media (max-width:767px)
            margin-bottom: 15px
            padding: 0
        .global_title
            margin-bottom: 12px
            @media (max-width:1779px)
                margin-bottom: 10px
            @media (max-width:1551px)
                margin-bottom: 8px
        p
            margin: 0 0 15px
            font-weight: 300
            color: $text
            @media (max-width:1779px)
                margin-bottom: 12px
            @media (max-width:767px)
                font-size: 13px
                br
                    display: none
        .location-info
            margin: 0
            padding: 20px 0
            border-bottom: 1px dashed rgba(173, 173, 173, 0.9)
            @media (max-width:1779px)
                padding: 17px 0
            @media (max-width:1551px)
                padding: 14px 0
            @media (max-width:1199px)
                padding: 12px 0
            &:last-of-type
                padding-bottom: 0
                border-bottom: none
            .label
                margin: 0 0 15px
                display: flex
                gap: 15px
                align-items: center
                @media (max-width:1779px)
                    margin-bottom: 12px
                @media (max-width:1551px)
                    gap: 10px
                @media (max-width:1199px)
                    margin-bottom: 8px
                i
                    display: flex
                    width: 20px
                    min-width: 20px
                    @media (max-width:1551px)
                        width: 16px
                        min-width: 16px
                    @media (max-width:767px)
                        width: 14px
                        min-width: 14px
                span
                    font-size: 23px
                    font-weight: 500
                    color: $titlecolor
                    line-height: 1.3
                    @media (max-width:1779px)
                        font-size: 20px
                    @media (max-width:1551px)
                        font-size: 16px
                    @media (max-width:1199px)
                        font-size: 15px
                    @media (max-width:767px)
                        font-size: 14px
            p
                margin-bottom: 10px
                @media (max-width:1779px)
                    margin-bottom: 8px
                @media (max-width:1551px)
                    margin-bottom: 5px
                &:last-of-type
                    margin-bottom: 0
                a
                    color: $text
                    &:hover
                        color: $basecolor
    .map
        height: 530px
        border-radius: 12px
        overflow: hidden
        background: rgba($text, 0.05)
        @media (max-width:1779px)
            height: 465px
        @media (max-width:1551px)
            height: 405px
        @media (max-width:1199px)
            height: 360px
        @media (max-width:767px)
            height: 280px
        @media (max-width:575px)
            height: 240px
        iframe
            height: 100%
            width: 100%
            object-fit: cover
.contact_form
    margin: 0
    padding: 75px 0
    position: relative
    @media (max-width:1779px)
        padding: 60px 0
    @media (max-width:1551px)
        padding: 50px 0
    @media (max-width:767px)
        padding: 40px 0
    &::before
        content: ""
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100%
        background: rgba($black, 43%)
        z-index: 1
    .container
        max-width: 1380px
        @media (max-width:1779px)
            max-width: 1110px
        @media (max-width:1551px)
            max-width: 940px
        @media (max-width:1199px)
            max-width: 860px
    .contact-bg
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100%
        object-fit: cover
    .form-in
        position: relative
        z-index: 1
        .title-wrp
            margin-bottom: 45px
            text-align: center
            @media (max-width:1779px)
                margin-bottom: 38px
            @media (max-width:1551px)
                margin-bottom: 32px
            @media (max-width:1199px)
                margin-bottom: 25px
            @media (max-width:991px)
                margin-bottom: 20px
            .global_title
                margin-bottom: 10px
                @media (max-width:1779px)
                    margin-bottom: 8px
                @media (max-width:1551px)
                    margin-bottom: 5px
            p
                margin: 0
                font-size: 20px
                color: $white
                font-weight: 300
                @media (max-width:1779px)
                    font-size: 17px
                @media (max-width:1551px)
                    font-size: 15px
                @media (max-width:1199px)
                    font-size: 14px
                @media (max-width:767px)
                    font-size: 13px
                    br
                        display: none
        .form-group 
            .input-group 
                i
                    img
                        filter: brightness(0) invert(1)
                .form-control
                    color: $white
                    background: rgba($white, 11%)
                    border: 1px solid rgba($white, 0)
                    &:focus
                        border-color: $white
                    &::placeholder
                        color: $white
                textarea
                    &.form-control
                        min-height: 180px
                        @media (max-width:1779px)
                            min-height: 150px
                        @media (max-width:1551px)
                            min-height: 120px
                        @media (max-width:1199px)
                            min-height: 100px
                        @media (max-width:991px)
                            min-height: 80px
        .btns
            margin-top: 35px
            min-width: 230px
            @media (max-width:1779px)
                min-width: 190px
                margin-top: 30px
            @media (max-width:1551px)
                min-width: 155px
                margin-top: 25px
            @media (max-width:991px)
                min-width: 145px
                margin-top: 20px
        .row
            --bs-gutter-x: 16px
            --bs-gutter-y: 16px
            @media (max-width:1779px)
                --bs-gutter-x: 14px
                --bs-gutter-y: 14px
            @media (max-width:1551px)
                --bs-gutter-x: 10px
                --bs-gutter-y: 10px
            @media (max-width:1199px)
                --bs-gutter-x: 8px
                --bs-gutter-y: 8px