// layout
:root
    --header-y: 70px
    @media only screen and (min-width: 576px)
        --header-y: 80px
    @media only screen and (min-width: 992px)
        --header-y: 100px
    @media only screen and (min-width: 1551px)
        --header-y: 120px

#pageWrapper
    overflow: hidden

.noHeadFoot
    #Header, #Footer
        display: none

// BUTTON STYLE
.hoveranim
    display: flex
    align-items: center
    justify-content: center
    position: relative
    overflow: hidden
    &::before
        content: ''
        position: absolute
        z-index: 0
        top: 0
        bottom: 0
        width: 100%
        background: rgba($basecolor, 0.4)
        -webkit-transform: scaleX(0)
        -ms-transform: scaleX(0)
        transform: scaleX(0)
        -webkit-transition: -webkit-transform 0.3s ease
        transition: -webkit-transform 0.3s ease
        transition: transform 0.3s ease
        transition: transform 0.3s ease, -webkit-transform 0.3s ease
        left: 0
        -webkit-transform-origin: right
        -ms-transform-origin: right
        transform-origin: right
    span
        position: relative
        z-index: 1
    &:hover
        color: $white
        &::before
            -webkit-transform-origin: left
            -ms-transform-origin: left
            transform-origin: left
            -webkit-transform: scaleX(1)
            -ms-transform: scaleX(1)
            transform: scaleX(1)
        span
            svg
                fill: $white

// BUTTON STYLE
.baseBtn, %baseBtn
    @include defaultValue
    font-size: 12px
    line-height: 1
    letter-spacing: 1px
    font-weight: 700
    color: $white
    width: 100%
    height: 30px
    border: 0
    border-radius: 0
    align-items: center
    @include display
    @media only screen and (min-width: 576px)
        font-size: 14px
        height: 40px
    @media only screen and (min-width: 992px)
        font-size: 16px
        height: 50px
    @media only screen and (min-width: 1551px)
        height: 60px
    span
        margin: 0 2px
        @media only screen and (min-width: 576px)
            margin: 0 4px
        svg, img
            fill: $white
            display: block
            transition: transform 0.4s
            @include imgFit

.baseBtn.loading
    background-image: url(../images/loading.gif)
    background-size: 20px
    background-repeat: no-repeat
    background-position: center
    span
        display: none

.baseBtn.baseBtn1
    width: 100%
    max-width: 120px
    padding: 4px
    border: 1px solid $basecolor
    border-radius: 10px
    background-color: $basecolor
    justify-content: center
    @media only screen and (min-width: 576px)
        max-width: 160px
        padding: 6px
    @media only screen and (min-width: 992px)
        max-width: 200px
        padding: 8px
    @media only screen and (min-width: 1551px)
        max-width: 240px
        padding: 8px
    &::before
        background-color: rgba($black, 0.1)

.baseBtn.baseBtn2
    width: 100%
    max-width: 120px
    padding: 4px
    border: 1px solid $black
    border-radius: 10px
    background-color: $black
    justify-content: center
    @media only screen and (min-width: 576px)
        max-width: 160px
        padding: 6px
    @media only screen and (min-width: 992px)
        max-width: 200px
        padding: 8px
    @media only screen and (min-width: 1551px)
        max-width: 240px
        padding: 8px
    &::before
        background-color: rgba($basecolor, 0.4)

.baseBtn.vAllBtn
    color: $black
    width: 100%
    max-width: 80px
    border-radius: 10px
    justify-content: space-between
    @media only screen and (min-width: 576px)
        max-width: 100px
    @media only screen and (min-width: 992px)
        max-width: 120px
    @media only screen and (min-width: 1551px)
        font-size: 18px
        max-width: 140px
    &:hover
        color: $basecolor
        .icon>svg, img
            transform: translateX(-4px)
    .icon
        width: 15px
        height: auto
        @media only screen and (min-width: 576px)
            width: 20px
        @media only screen and (min-width: 992px)
            width: 25px
        @media only screen and (min-width: 1551px)
            width: 30px

// button[type="submit"], .btn
//     @extend %baseBtn

input.baseBtn
    &:hover
        color: $basecolor !important

// TITLE
.tleWrap
    position: relative
    z-index: 0
    margin-bottom: 15px
    @media only screen and (min-width: 576px)
        margin-bottom: 20px
    @media only screen and (min-width: 1551px)
        margin-bottom: 30px

    &.center
        text-align: center
        p
            font-weight: 500
            max-width: 860px
            margin-left: auto
            margin-right: auto
    &>*
        margin-bottom: 5px
        @media only screen and (min-width: 576px)
            margin-bottom: 10px
        @media only screen and (min-width: 1551px)
            margin-bottom: 20px
    .mTle, h2
        font-size: 22px
        line-height: 1
        font-weight: 700
        color: $black
        @media only screen and (min-width: 376px)
            font-size: 24px
        @media only screen and (min-width: 576px)
            font-size: 28px
        @media only screen and (min-width: 768px)
            font-size: 36px
        @media only screen and (min-width: 992px)
            font-size: 42px
        @media only screen and (min-width: 1200px)
            font-size: 46px
        @media only screen and (min-width: 1551px)
            font-size: 50px
        @media only screen and (min-width: 1771px)
            font-size: 60px
        &.white
            color: $white
        span
            color: $basecolor

    .sTle, h6
        font-size: 18px
        line-height: 1.2
        font-weight: 300
        color: $black
        display: block
        @media only screen and (min-width: 576px)
            font-size: 20px
        @media only screen and (min-width: 992px)
            font-size: 22px
        @media only screen and (min-width: 1551px)
            font-size: 24px
        @media only screen and (min-width: 1771px)
            font-size: 28px
        span
            color: $basecolor
        &.white
            color: $white

// BREADCRUMB
#Breadcrumb
    width: 100%
    height: auto
    padding: 10px 0
    @media only screen and (min-width: 576px)
        padding: 15px 0
    @media only screen and (min-width: 922px)
        padding: 20px 0
    @media only screen and (min-width: 1441px)
        padding: 30px 0
    ul
        align-items: center
        @include display
        li
            align-items: center
            @include display
            &:not(:last-of-type)
                &::after
                    content: '>'
                    font-size: 12px
                    font-weight: 400
                    line-height: 1
                    color: $text
                    width: 4px
                    right: -10px
                    margin: 0 6px
                    @media only screen and (min-width: 468px)
                        font-size: 14px
                        margin: 0 8px
                    @media only screen and (min-width: 992px)
                        font-size: 16px
                        margin: 0 12px
            a
                font-size: 11px
                line-height: 1
                font-weight: 400
                color: $text
                display: block
                margin: 0
                @media only screen and (min-width: 576px)
                    font-size: 12px
                @media only screen and (min-width: 992px)
                    font-size: 14px
                @media only screen and (min-width: 1441px)
                    font-size: 16px
                &.current
                    color: $basecolor

// PAGINATION
.pagination
    padding-left: 8px
    padding-right: 8px
    margin-top: 20px
    justify-content: center
    width: 100%
    @media only screen and (min-width: 576px)
        justify-content: flex-end
    @media only screen and (min-width: 768px)
        margin-top: 50px
    li
        -webkit-transition: background-color 0.3s
        transition: background-color 0.3
        &>*
            min-width: 30px
            height: 30px
            display: flex
            align-items: center
            justify-content: center
            border: 1px solid #D0D5DD
            font-size: 13px
            box-shadow: none !important
            font-weight: 500
            color: $black
            -webkit-transition: background-color 0.3s
            transition: background-color 0.3
            @media only screen and (min-width: 576px)
                min-width: 40px
                height: 40px
                font-size: 14px
            &:focus
                border: 1px solid #D0D5DD
                background-color: $white !important
                color: $black
        &.disabled
            pointer-events: none
            opacity: .4
        &:not(:last-of-type)
            margin-right: 0
        &:hover>*, &.active>*
            background-color: $basecolor !important
            border: 1px solid $basecolor !important
            color: $white !important
        &.prev>*, .next>*
            font-size: 19px
        &:nth-child(1)
            &>*
                visibility: hidden
                position: relative
                &::after
                    content: ""
                    background-image: url('../images/pagination-Left.svg')
                    background-position: center
                    background-repeat: no-repeat
                    border-radius: 10px 0px 0px 10px
                    background-color: $white
                    color: $basecolor
                    min-width: 30px
                    height: 30px
                    display: flex
                    align-items: center
                    justify-content: center
                    border: 1px solid #D0D5DD
                    font-size: 12px
                    visibility: visible
                    position: absolute
                    left: 0
                    -webkit-transition: background-color .3s
                    transition: background-color .3
                    @media only screen and (min-width: 576px)
                        min-width: 40px
                        height: 40px
        &:last-of-type
            &>*
                visibility: hidden
                position: relative
                &::after
                    content: ""
                    background-image: url('../images/pagination-Right.svg')
                    background-position: center
                    background-repeat: no-repeat
                    border-radius: 0px 10px 10px 0px
                    background-color: $white
                    color: $basecolor
                    min-width: 30px
                    height: 30px
                    display: flex
                    align-items: center
                    justify-content: center
                    border: 1px solid #D0D5DD
                    font-size: 12px
                    visibility: visible
                    position: absolute
                    left: 0
                    -webkit-transition: background-color .3s
                    transition: background-color .3
                    @media only screen and (min-width: 576px)
                        min-width: 40px
                        height: 40px
// CK_EDITOR_TEXT
.ckCntWrap
    &::after
        display: block
        clear: both
        content: ""
    h1, h2, h3, h4, h5, h6
        font-weight: 700
        line-height: 1.1
        color: $text
        margin-bottom: 10px
        @media only screen and (min-width: 576px)
            margin-bottom: 15px
        @media only screen and (min-width: 992px)
            margin-bottom: 20px
        @media only screen and (min-width: 1551px)
            margin-bottom: 30px
    h1
        font-size: 20px
        line-height: normal
        font-weight: 700
        color: $black
        margin-bottom: 8px
        @media only screen and (min-width: 576px)
            font-size: 38px
            margin-bottom: 15px
        @media only screen and (min-width: 992px)
            font-size: 48px
        @media only screen and (min-width: 1441px)
            font-size: 60px
            margin-bottom: 30px
    h2
        font-size: 24px
        @media only screen and (min-width: 468px)
            font-size: 26px
        @media only screen and (min-width: 576px)
            font-size: 28px
        @media only screen and (min-width: 768px)
            font-size: 36px
        @media only screen and (min-width: 992px)
            font-size: 44px
        @media only screen and (min-width: 1200px)
            font-size: 52px
        @media only screen and (min-width: 1551px)
            font-size: 60px
    h3
        font-size: 22px
        @media only screen and (min-width: 576px)
            font-size: 24px
        @media only screen and (min-width: 992px)
            font-size: 32px
        @media only screen and (min-width: 1551px)
            font-size: 40px
    h4
        font-size: 18px
        line-height: 1
        font-weight: 700
        color: $black
        margin-bottom: 10px
        @media only screen and (min-width: 576px)
            font-size: 22px
            margin-bottom: 15px
        @media only screen and (min-width: 992px)
            font-size: 28px
            margin-bottom: 20px
        @media only screen and (min-width: 1200px)
            font-size: 34px
            margin-bottom: 30px
        @media only screen and (min-width: 1441px)
            font-size: 38px
            margin-bottom: 50px
    h5, h6
        font-size: 14px
        @media only screen and (min-width: 576px)
            font-size: 16px
        @media only screen and (min-width: 992px)
            font-size: 18px
        @media only screen and (min-width: 1200px)
            font-size: 20px
        @media only screen and (min-width: 1551px)
            font-size: 24px
    %ckCntWrapTxt
        font-size: 13px
        line-height: 1.6
        font-weight: 300
        color: $text
        @media only screen and (min-width: 576px)
            font-size: 15px
        @media only screen and (min-width: 992px)
            font-size: 18px
            margin-bottom: 30px
        &:last-child
            margin-bottom: 5px
    img
        max-width: 100%
        max-height: 100%
        will-change: transform
        margin-bottom: 10px
        @include imgFit
        @media only screen and ( min-width: 576px )
            margin-bottom: 15px
        @media only screen and ( min-width: 992px )
            margin-bottom: 20px
        @media only screen and ( min-width: 1551px )
            margin-bottom: 40px
    a, b
        color: $basecolor
    ul, ol
        padding-left: 0
        margin: 0
        margin-bottom: 10px
        @media only screen and (min-width: 576px)
            margin-bottom: 15px
        @media only screen and (min-width: 992px)
            margin-bottom: 20px
        @media only screen and (min-width: 1551px)
            margin-bottom: 30px
        li
            @extend %ckCntWrapTxt
            margin-bottom: 5px
            @media only screen and (min-width: 576px)
                margin-bottom: 10px
            @media only screen and (min-width: 992px)
                margin-bottom: 15px
            @media only screen and (min-width: 1551px)
                margin-bottom: 20px
    ul
        display: table
        li
            padding-left: 30px
            position: relative
            @media only screen and (min-width: 992px)
                padding-left: 50px
            &::before
                content: ""
                position: absolute
                width: 20px
                height: 15px
                top: 6px
                left: 0
                background-image: url('../images/LI Before Image.png')
                background-position: center
                background-repeat: no-repeat
                background-size: cover
                @media only screen and (min-width: 992px)
                    width: 25px
                    height: 20px
                    top: 6px
            &:last-of-type
                margin: 0
    p
        @extend %ckCntWrapTxt
    table
        display: table
        max-width: 100%
        margin: 5px 0
        border-collapse: collapse
        border-top: 1px solid rgba($basecolor, 0.2)
        border-left: 1px solid rgba($basecolor, 0.2)
        @media only screen and (min-width: 576px)
            margin: 10px 0
        @media only screen and (min-width: 992px)
            margin: 15px 0
        th, td
            @extend %ckCntWrapTxt
            line-height: 1.2
            color: $black
            padding: 4px 5px
            border-right: 1px solid rgba($basecolor, 0.2)
            border-bottom: 1px solid rgba($basecolor, 0.2)
            @media only screen and (min-width: 576px)
                padding: 6px 10px
            @media only screen and (min-width: 992px)
                padding: 10px 15px
            @media only screen and (min-width: 1551px)
                padding: 15px 25px
        th
            color: $white
            background-color: $basecolor
            border-color: rgba($white, 0.2)
        tbody
            tr
                &:nth-child(even)
                    background-color: rgba($basecolor, 0.1)

