.news_listing
    margin: 0
    padding: 30px 0 60px
    @media (max-width:1779px)
        padding-top: 20px
    @media (max-width:991px)
        padding-bottom: 50px
    @media (max-width:767px)
        padding-bottom: 40px
    .filter-nav
        margin: 0 0 65px
        text-align: center
        @media (max-width:1779px)
            margin-bottom: 52px
        @media (max-width:1551px)
            margin-bottom: 45px
        @media (max-width:1199px)
            margin-bottom: 35px
        @media (max-width:991px)
            margin-bottom: 30px
        @media (max-width:767px)
            margin-bottom: 20px
    .filter-btns
        display: inline-flex
        gap: 15px
        @media (max-width:1779px)
            gap: 13px
        @media (max-width:1551px)
            gap: 10px
        .filter-btn
            margin: 0
            padding: 10px 42px
            font-size: 20px
            font-weight: 400
            color: $text
            border-radius: 5px
            border: 1px solid #A4A4A4
            background: transparent
            white-space: nowrap
            @media (max-width:1779px)
                padding: 8px 32px
                font-size: 17px
            @media (max-width:1551px)
                padding: 7px 24px
                font-size: 15px
            @media (max-width:1199px)
                padding: 6px 18px
                font-size: 14px
            @media (max-width:991px)
                padding: 5px 14px
            &.active
                color: $basecolor
                border-color: $basecolor
    .row
        --bs-gutter-x: 28px
        --bs-gutter-y: 62px
        @media (max-width:1779px)
            --bs-gutter-x: 25px
            --bs-gutter-y: 52px
        @media (max-width:1551px)
            --bs-gutter-y: 45px
            --bs-gutter-x: 18px
        @media (max-width:1199px)
            --bs-gutter-y: 35px
            --bs-gutter-x: 15px
        @media (max-width:991px)
            --bs-gutter-y: 25px
        @media (max-width:767px)
            --bs-gutter-y: 15px
        @media (max-width:575px)
            --bs-gutter-y: 10px
    .btns
        margin-top: 85px
        padding: 0
        border-radius: 0
        background: transparent
        color: $basecolor
        font-size: 20px
        font-weight: 300
        min-width: auto
        @media (max-width:1779px)
            font-size: 17px
            margin-top: 70px
        @media (max-width:1551px)
            margin-top: 60px
            font-size: 15px
        @media (max-width:1199px)
            margin-top: 50px
            font-size: 14px
        @media (max-width:991px)
            margin-top: 40px
        @media (max-width:767px)
            margin-top: 30px
        &::before
            display: none
        &:hover
            color: $text
    .mCSB_horizontal
        &.mCSB_inside 
            > 
                .mCSB_container
                    margin-bottom: 0 !important
                    padding-bottom: 5px
    .mCSB_scrollTools
        &.mCSB_scrollTools_horizontal
            height: 4px
            .mCSB_dragger 
                .mCSB_dragger_bar
                    margin: 0 auto
    .mCS-dark
        &.mCSB_scrollTools 
            .mCSB_dragger 
                .mCSB_dragger_bar
                    background: rgba(0,0,0,.20)
                &:hover 
                    .mCSB_dragger_bar
                        background: rgba(0,0,0,.20)
                &.mCSB_dragger_onDrag 
                    .mCSB_dragger_bar
                        background: rgba(0,0,0,.20)
                &:active 
                    .mCSB_dragger_bar
                        background: rgba(0,0,0,.20)