.container
    width: 100%
    padding-right: 15px
    padding-left: 15px
    margin-right: auto
    margin-left: auto
    @media only screen and (min-width: 992px)
        max-width: 970px
    @media only screen and (min-width: 1200px)
        max-width: 1180px
    @media only screen and (min-width: 1551px)
        max-width: 1410px
    @media only screen and (min-width: 1780px)
        max-width: 1750px

    @media only screen and (max-width: 992px)
        max-width: none

.sp-container
    width: 100%
    max-width: calc(100% - ((100% - 975px)/ 2))
    @media only screen and (min-width: 992px)
        max-width: calc(100% - ((100% - 1040px)/ 2))
    @media only screen and (min-width: 1200px)
        max-width: calc(100% - ((100% - 1180px)/ 2))
    @media only screen and (min-width: 1441px)
        max-width: calc(100% - ((100% - 1341px)/ 2))
    @media only screen and (min-width: 1551px)
        max-width: calc(100% - ((100% - 1441px)/ 2))
    @media only screen and (min-width: 1771px)
        max-width: calc(100% - ((100% - 1641px)/ 2))
    @media (max-width: 992px) and (min-width: 768px)
        max-width: calc(100% - ((100% - 95%)/ 2))
    @media only screen and (max-width: 768px)
        max-width: none
    &.lft
        margin-left: 0
        margin-right: auto
        padding-right: 15px
        padding-left: 0
    &.rgt
        margin-left: auto
        margin-right: 0
        padding-right: 0
        padding-left: 15px
