//FONTS
@font-face
    font-family: 'TheSansArabic'
    src: url('../fonts/TheSansArabic-Light.woff2') format('woff2'), url('../fonts/TheSansArabic-Light.woff') format('woff')
    font-weight: 300
    font-style: normal
    font-display: swap

@font-face
    font-family: 'TheSansArabic'
    src: url('../fonts/TheSansArabic-Bold.woff2') format('woff2'), url('../fonts/TheSansArabic-Bold.woff') format('woff')
    font-weight: 700
    font-style: normal
    font-display: swap


    