.privacy_sec
    margin: 0
    padding: 68px 0 100px
    @media (max-width:1779px)
        padding: 50px 0 85px
    @media (max-width:1551px)
        padding: 38px 0 70px
    @media (max-width:1199px)
        padding: 35px 0 60px
    @media (max-width:991px)
        padding: 25px 0 50px
    @media (max-width:767px)
        padding: 20px 0 40px
    .global_title
        margin-bottom: 30px
        -webkit-text-stroke: 1px #000
        @media (max-width:1779px)
            margin-bottom: 25px
        @media (max-width:1551px)
            margin-bottom: 20px
        @media (max-width:1199px)
            -webkit-text-stroke: 0.5px #000
        @media (max-width:991px)
            margin-bottom: 15px
        @media (max-width:767px)
            -webkit-text-stroke: 0 #000
    p
        margin: 0 0 20px
        font-size: 20px
        font-weight: 300
        line-height: 1.5
        @media (max-width:1779px)
            font-size: 17px
            margin-bottom: 17px
        @media (max-width:1551px)
            font-size: 15px
            margin-bottom: 15px
        @media (max-width:1199px)
            font-size: 14px
        @media (max-width:767px)
            font-size: 13px
        &:last-of-type
            margin-bottom: 0
        a
            color: $basecolor
            &:hover
                color: $text
    h3
        margin: 45px 0 16px
        padding: 0
        font-size: 25px
        font-weight: 500
        color: $black
        @media (max-width:1779px)
            font-size: 21px
            margin: 38px 0 14px
        @media (max-width:1551px)
            font-size: 18px
            margin: 30px 0 12px
        @media (max-width:1199px)
            font-size: 17px
        @media (max-width:767px)
            margin: 20px 0 10px
            font-size: 15px
    ol
        margin: 0 0 20px 20px
        padding: 0
        @media (max-width:1551px)
            margin-left: 15px
        @media (max-width:991px)
            margin-bottom: 10px
        li
            margin: 0 0 20px
            padding: 0
            line-height: 1.5
            font-size: 20px
            color: $text
            font-weight: 300
            @media (max-width:1779px)
                margin-bottom: 17px
                font-size: 17px
            @media (max-width:1551px)
                margin-bottom: 15px
                font-size: 15px
            @media (max-width:1199px)
                font-size: 14px
            @media (max-width:767px)
                font-size: 13px
            a
                color: $basecolor
                &:hover
                    color: $text
            strong
                font-weight: 400
    ul
        margin: 0
        padding: 0
        li
            margin: 0 0 20px
            padding: 0 0 0 26px
            font-size: 20px
            line-height: 1.5
            color: $text
            font-weight: 300
            position: relative
            @media (max-width:1779px)
                margin-bottom: 17px
                font-size: 17px
            @media (max-width:1551px)
                margin-bottom: 15px
                font-size: 15px
                padding-left: 20px
            @media (max-width:1199px)
                font-size: 14px
            @media (max-width:767px)
                font-size: 13px
                padding-left: 15px
            &::before
                content: ""
                border-radius: 50%
                background: $basecolor
                position: absolute
                height: 9px
                width: 9px
                top: 11px
                left: 0
                @media (max-width:1779px)
                    height: 8px
                    width: 8px
                    top: 9px
                @media (max-width:1551px)
                    top: 8px
                    height: 7px
                    width: 7px
                @media (max-width:1199px)
                    top: 7px
                @media (max-width:767px)
                    height: 6px
                    width: 6px
            a
                color: $basecolor
                &:hover
                    color: $text
            strong
                font-weight: 400
