$fontstack1: "Poppins", sans-serif

$basecolor: #0089CF
$basecolor2: #A6CE39

$titlecolor: #101010
$text: #1A1A1A

$gradient: linear-gradient(90deg, #0089CF 0%, #A6CE39 100%)

$black: rgb(0, 0, 0)
$white: rgb(255, 255, 255)
